* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial,sans-serif;
	scroll-padding-top: 2rem;
	scroll-behavior: smooth;
	list-style: none;
	text-decoration: none;
}

body {
	background: black;
}

h1 {
	color: white;
}

p {
	color: white;
}

nav {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 8%;
	background: darkgray;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.logo {
	font-size: 30px;
	color: white;
	text-decoration: none;
	font-weight: 600;
	position: relative;
}

.nav-link {
	display: flex;
	justify-content: space-around;
	width: 30%;
}

.nav-link li{
	list-style: none;
}
.nav-link a{
	font-size: 18px;
	color: white;
	text-decoration: none;
	font-weight: 500;
	margin: 0 20px;
	transition: all 1.1s;
	position: relative;
}

.burger {
	display: none;
	cursor: pointer;
}

.burger div {
	width: 25px;
	height: 4px;
	background-color: white;
	margin: 3px	;
	transition: 0.3s ease;
}

nav a:hover {
	color: red;
	transform: scale(2);
}

.h1 {
	text-align: center;
}

.home {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 8% 0;
	overflow: hidden;
}

.home-content {
	max-width: 500px;

}

.home-content {
	font-size: 30px;
	line-height: 1.2;
}

.home-content h3 {
	font-size: 26px;
	color: aqua;
}

.home-content p {
	font-size: 16px;
	margin: 15px 0 30px;
}

.btn {
	display: inline-block;
	padding: 10px 28px;
	background: transparent;
	border: 2px solid cyan;
	border-radius: 6px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	font-size: 16px;
	color: cyan;
	letter-spacing: 1px;
	text-decoration: none;
	font-weight: 600;
	transition: 1s;
}

.btn:hover {
	background: #03e9f4;
	color: #050801;
	box-shadow: 0 0 35px #03e9f4;
	-webkit-box-reflect:below 1px
	linear-gradient(transparent, #0005);
}

.home-img {
	position: relative;
	right: -8%;
	width: 450px;
	height: 450px;
	transform: rotate(45deg);
	z-index: -.1;
}

.home-img .rhombus {
	position: absolute;
	width: 100%;
	height: 100%;
	background: cyan;
	border: 20px solid black;
	box-shadow: -15px 15px 15px rgba(0, 0, 0, 2);
}


.home .rhombus2 {
	position: absolute;
	top: -25px;
	right: -80px;
	width: 700px;
	height: 700px;
	background: red;
	transform: rotate(45deg);
	z-index: -1;
	box-shadow: -15px 15px 15px rgba(0, 0, 100, 10);
}

.btn-primary {
	margin-left: 30px;
}

.container {
	color: white;
	max-width: 1200px;
	margin: 0 auto;
	padding: 10rem 2rem;
}

.container .item-container {
	display: grid;
	grid-template-columns:repeat(auto-fit, minmax(25rem, 1fr));
	gap: 2rem;
}

.container .item-container .item {
	text-align: center;
	padding: 3rem 2rem;
	background: black;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
	outline-offset: -1.5rem;
	cursor: pointer;
	transition: .6s;
}

.container .item-container .item:hover {
	outline: .2rem solid black;
	outline-offset: 0 rem;
	transform: scale(.9);
	background: white;
	color: black;
}

.container .item-container .item img{
	height: 30rem;
	width: 20rem;
}

.container .item-container .item h3 {
	padding: .5rem 0;
	font-size: 2.2rem;
}

.container .item-container .item .price {
	font-size: 2.5rem;
}

@media screen and (max-width:1024px) {
	.nav-link {
		width: 60%;
	}
}

@media screen and (max-width:768px) {
	body {
		overflow-x: hidden;
	}
	.nav-link {
		position: absolute;
		right: 0px;
		height: 42vh;
		top: 18vh;
		background-color: darkgray;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 40%;
		transform: translate(100%);
		transition: transform 0.5s ease-in;
	}

	.nav-link li {
		opacity: 0;
	}
	.burger {
		display: block;
	}
}
.nav-active {
	transform: translate(0%);
}

@keyframes navLinkFade {
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line-1 {
	transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line-2 {
	opacity: 0;
}

.toggle .line-3 {
	transform: rotate(45deg) translate(-5px,-6px);
}

footer {
	background: cyan;
}

.footer p {
	color: black;
	font-size: 20px;
}
.p {
	font-size: 20px;
}